:root {
  --colorP0: #333333;
  --colorP1: #555555;
  --colorP2: #777777;
  --colorP3: #888888;
  --colorP4: #999999;
  --colorP5: #aaaaaa;
  --colorP6: #bbbbbb;
  --colorP7: #dddddd;
  --colorP8: #eeeeee;
  --colorP9: #ffffff;
  --colorB1: #1634a6;
  --colorB2: #3771d4;
  --colorR1: #f21445;
  --colorY1: #3771d4;
  --shadowP1: rgba(0, 0, 0, 0.2);
  --shadowA1: rgba(235, 125, 50, 0.3);
  --animation-duration: 150ms;
  --animation-timing-curve: ease-in-out;
}

body {
  font-family: Arial, sans-serif;
  color: var(--colorP1);
  background-color: var(--colorP8);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  padding: 8px;
}

thead {
  background-color: var(--colorP6);
  border-radius: 20px;
  margin: 5px;
  padding: 5px;
}

tbody tr:nth-child(odd) {
  background-color: var(--colorP7);
}

tbody tr:nth-child(even) {
  background-color: var(--colorP8);
}

h2 {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 2.4rem;
  color: var(--colorP1);
}

button {
  font-size: 1.5rem;
  border-radius: 10px;
  background-color: var(--colorP5);
  color: var(--colorP8);
  border-color: transparent;
  box-shadow: 3px 3px 5px var(--shadowP1);
}

button:hover {
  background-color: var(--colorR1);
  cursor:pointer;
}

select{
  appearance: none;
  font-size: 1.5rem;
  background-color: var(--colorP9);
  border-radius: 10px;
  border: none;
  color: var(--colorP1);
  cursor:pointer;
  box-shadow: 3px 3px 5px var(--shadowP1);
}
/*╔═════════════════════════════════════════════════════════════╗
  ║                             Home
  ╚═════════════════════════════════════════════════════════════╝*/
.homeContainer{
  width: 100%;
  display: grid;
  justify-content: center;
  padding-top: 20px;
  padding-left: 10%;
  padding-right:10%;
}

.mainButton{
  font-size: 3rem;
  min-width: 100%;
  margin: 15px;
}

/*╔═════════════════════════════════════════════════════════════╗
  ║                             Shop 2
  ╚═════════════════════════════════════════════════════════════╝*/
  .storeContainer {
    display: grid; 
  grid-template-columns: 6fr 4fr; 
  grid-template-rows: .5fr .5fr 1.5fr 7.5fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "navBarContainer navBarContainer"
    "shopTitleContainer cartTitleContainer"
    "productListContainer accountContainer"
    "productListContainer cartContainer"; 
}
  
  .navBarContainer { grid-area: navBarContainer; 
  background-color: red;}
  
  .shopTitleContainer { grid-area: shopTitleContainer; 
    background-color: orange;}
  
  .cartTitleContainer { grid-area: cartTitleContainer; 
    background-color: yellow;}
  
  .productListContainer { grid-area: productListContainer; 
    background-color: green;}
  
  .accountContainer { grid-area: accountContainer; 
    background-color: blue;}
  
  .cartContainer { grid-area: cartContainer; 
    background-color: purple;}

/*╔═════════════════════════════════════════════════════════════╗
  ║                             Shop
  ╚═════════════════════════════════════════════════════════════╝*/
/* =========================== Navbar ===========================*/
.navButton {
  height: 20fr;
  width: 150fr;
  object-fit: cover;
  font-size: 35px;
  border-radius: 10px;
  color: var(--colorP8);
  border-color: transparent;
}

.navButton:hover {
  background-color: var(--colorR1);
}

/* =========================== Products ===========================*/
.category {
  /*full category block; ex: snack & products*/
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: var(--colorP7);
  margin-bottom: 50px;
}

.catTitle {
  /*title box for each category*/
  font-weight: bold;
  font-size: 2.4rem;
  color: var(--colorP2);
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: var(--colorP6);
  border-radius: 20px;
}

.catList {
  /*all products in the category*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2px;
}

.product-image {
  /*product image & container*/
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%; /* Adjust width as needed */
  height: 200px; /* Adjust height as needed */
  border-radius: 20px;
  background-color: var(--colorP5);
}

.product-item {
  /*full product listing; pic, name, price, button, quantity*/
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 200px;
  margin: 20px; /* Adjust as needed */
  font-size: 1.5rem;
}

.productName {
  /* product name & price*/
  padding: 5px;
  color: var(--colorP2);
}

.add-to-cart-button {
  /*add to cart button*/
  font-size: 1.5rem;
  border-radius: 10px;
  background-color: var(--colorP5);
  color: var(--colorP8);
  border-color: transparent;
  box-shadow: 3px 3px 5px var(--shadowP1);
}

.add-to-cart-button:hover {
  /* add to cart button*/
  background-color: var(--colorR1);
}
