:root {
  --colorP0: #333333;
  --colorP1: #555555;
  --colorP2: #777777;
  --colorP3: #888888;
  --colorP4: #999999;
  --colorP5: #aaaaaa;
  --colorP6: #bbbbbb;
  --colorP65: #cccccc;
  --colorP7: #dddddd;
  --colorP8: #eeeeee;
  --colorP9: #ffffff;
  --colorB1: #1634a6;
  --colorB2: #3771d4;
  --colorR1: rgb(242, 20, 69);
  --colorR2: #f5b0bf;
  --colorY1: #3771d4;
  --shadowP1: rgba(0, 0, 0, 0.2);
  --shadowR1: rgba(242, 20, 69, 0.3);
  --animation-duration: 150ms;
  --animation-timing-curve: ease-in-out;
}

body {
  font-family: Arial, sans-serif;
  color: var(--colorP1);
  overflow-y: hidden;
  background-color: var(--colorP8);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h2 {
  font-weight: bold;
  font-size: 3vmin;
  color: var(--colorP1);
  margin: 0px;
}

/* =========================== Tables ===========================*/
table {
  width: 100%;
  box-shadow: 3px 3px 10px var(--shadowP1);
  border-radius: 20px;
  border-collapse: collapse;
  margin-bottom: 20px;
  color: var(--colorP2);
}

table,
th,
td {
  padding: 8px;
  font-size: 3vmin;
}

tr {
  padding: 0px;
}

thead {
  background-color: var(--colorP6);
  color: var(--colorP9);
  text-align: left;
  margin: 5px;
  padding: 5px;
  height: 75px;
}

tfoot {
  background-color: var(--colorP6);
  color: var(--colorP9);
  border-radius: 20px;
  margin: 5px;
  padding: 5px;
  font-weight: bold;
  height: 75px;
}

tbody tr:nth-child(odd) {
  background-color: var(--colorP7);
  transition: .1s;
}

tbody tr:nth-child(even) {
  background-color: var(--colorP8);
  transition: .1s;
}

tbody tr:nth-child(odd):hover {
  background-color: var(--colorR2);
  transform: scale(1.02);
  transition: .1s;
}

tbody tr:nth-child(even):hover {
  background-color: var(--colorR2);
  transform: scale(1.02);
  transition: .1s;
}

/* =========================== Elements ===========================*/
button {
  font-size: 1.5vmin;
  border-radius: 1vmin;
  background-color: var(--colorP5);
  color: var(--colorP8);
  border-color: transparent;
  box-shadow: 3px 3px 5px var(--shadowP1);
  transition: .1s;
}

button:hover {
  background-color: var(--colorR1);
  cursor: pointer;
  transform: scale(1.05);
  transition: .1s;
}

button:active{
  transform: translateY(4px);
}

select {
  appearance: none;
  font-size: 2.5vmin;
  margin: 1vmin;
  background-color: var(--colorP9);
  border-radius: 10px;
  border: none;
  color: var(--colorP2);
  cursor: pointer;
  box-shadow: 3px 3px 5px var(--shadowP1);
  transition: .1s;
}

select:hover{
  transition: .1s;
  box-shadow: 3px 3px 5px var(--shadowR1);
}

input {
  appearance: none;
  border: none;
  font-size: 2.5vmin;
  margin: 1vmin;
  background-color: var(--colorP9);
  color: var(--colorP1);
  border-radius: 1vmin;
  box-shadow: 3px 3px 5px var(--shadowP1);
}

.navBarContainer {
  grid-area: navBarContainer;
  align-content: center;
  z-index: 9001; /* Ensure the popup appears on top */
  padding-left: 20px;
  background-color: var(--colorP6);
}

.navButton {
  aspect-ratio: 2/1;
  height: 80%;
  border-radius: 10px;
  color: var(--colorP8);
  border-color: transparent;
  font-size: 3vh;
}
      
.navButton:hover {
  background-color: var(--colorR1);
}

.fontColor{
  color: var(--colorR1);
}
